body{
    margin: 0;
    padding: 0;
}
*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family:"DD-TTNorms";
    src: url(asset/font/TTNorms-Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family:"DD-TTNorms";
    src: url(asset/font/TTNorms-Medium.woff2) format("woff2");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family:"DD-TTNorms";
    src: url(asset/font/TTNorms-Bold.woff2) format("woff2");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family:"DD-TTNorms";
    src: url(asset/font/TTNorms-ExtraBold.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
}
.main{
    background-image: url(https://img.cdn4dd.com/cdn-cgi/image/fit=cover,width=800,format=auto,quality=60/https://cdn.doordash.com/media/consumer/home/landing/new/hero_landing_us_mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 102vw;
    height: 95vh;
    background-position-x: center;
}
.main-sign{
    position: relative;
    width: 100%;
    left: -30px;
    top: 17px;
}
.sign{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}
.signin{
    font-size: 17px;
    color: #FFFFFF;
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 600;
}
.signup{
    display: inline-flex;
    position: relative;
    padding:10px 16px;
    align-items: center;
    font-size: 16px;
    color: rgb(73, 73, 73);
    background-color: #FFFFFF;
    border-radius: 100px;
    justify-content: flex-start;
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 600;
}
.doordash{
    color: transparent;
}
.doordash img{
    position :relative;
    top: 58px;
    left: 134px;
    text-align: center;
    color: transparent;
    font-size: 35px;
    font-family: "DD-TTNorms";
}
.header-1{
    display: block;
    line-height: 40px;
    letter-spacing: -0.04ch;
    position: relative;
    top: -305px;
    text-align: center;
    color: #FFFFFF;
    font-size: 32px;
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 600;
}
.search{
    padding: 0;
    max-width: 315;
    position: relative;
    top: -280px;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.searchin{
    padding: 10px 4px 4px 12px;
    line-height: 22px;
    font-weight: 500;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    z-index: 1;
    border: none;
    background-color: #FFFFFF;
}
.searchicon{
    max-width: 100%;
}
button.searchin{
    padding-right: 10px;
    border-radius: 22px;
}
input{
    padding:10px;
    font-size: 16px;
    border: none;
    width: 58vw;
}
input::placeholder{
    font-weight: 500;
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.search span{
    font-size: 16px;
    margin: 16px;
    color: #FFFFFF;
}
.search span a{
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #FFFFFF;
    font-weight: 500;
}
.merchant{
    margin-top: 20px;
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.merchant p{
    display: block;
    width: 150px;
    margin-right: 16px;
    padding: 0;
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.04ch;
    text-transform: none;
    position: relative;
    top: -160px;
    left: 20px;
}
svg{
    position: relative;
    top:6px;
}
.merchant a{
    position: relative;
    top: -200px;
    left: 190px;
    text-decoration: none;
    border: 1px solid #EB1700;
    background-color: #EB1700;
    color: #FFFFFF;
    border-radius: 20px;
    padding: 11px;
    font-weight: 600;
}
.merchant div{
    position: relative;
    top: -150px;
    left: 20px;
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 600;
    white-space: nowrap;
}
#block{
    display: flex;
    width: 100vw;
    position: relative;
    top: -80px;
}
#block img{
    height:88px;
    width: 88px;
}
.banner h2{
    font-size: 32px;
    color: #191919;
    position: relative;
    top: -80px;
    left: 100px;
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 600;
}
.banner p{
    font-size: 18px;
    display: block;
    text-align: left;
    text-transform: none;
    line-height: 26px;
    letter-spacing: 0.0ch;
    position: relative;
    width: 220px;
    top: -70px;
    left: 100px;
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
}
.banner a{
    font-size: 14px;
    text-decoration: none;
    color: #EB1700;
    position: relative;
    top: -60px;
    left: 100px;
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 600;
}
.dasher-content{
    position: relative;
    left: 10px;
}
.partner-content{
    position: relative;
    left: 10px;
}
.partner{
    position: relative;
    top: -40px;
}
.app-content{
    position: relative;
    left: 10px;
}
.table{
    width: 100%;
    background:rgb(255,240,237) ;
}
.table1{
    display: grid;
}
.table1-content{
    margin: 20px 0px 0px;
    padding: 0px 81.6px 0px 16px;
    position: relative;
    top: -125px;
}
.table1-content h2{
    display: block;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.04ch;
    line-height: 32px;
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 700;
}
.table1-content p{
    display: block;
    width: 62vw;
    line-height: 20px;
    letter-spacing: 0ch;
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
    font-size: 14px;
}
.table1-content a{
    position: relative;
    top: 30px;
    text-decoration: none;
    border: 1px solid #EB1700;
    background-color: #EB1700;
    color: #FFFFFF;
    border-radius: 20px;
    padding: 10px;
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 600;
}
.table2-content{
    margin: 20px 0px 0px;
    padding: 0px 81.6px 0px 16px;
    position: relative;
    top: -70px;
}
.table2-content h2{
    display: block;
    font-size: 24px;
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 600;
    letter-spacing: -0.04ch;
    line-height: 32px;
    position:relative;
    left: 10px;
}
.table2-content p{
    display: block;
    line-height: 20px;
    letter-spacing: 0ch;
    font-size: 14px;
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
    width: 62vw;
}
.table2-content a{
    position: relative;
    top: 30px;
    text-decoration: none;
    border: 1px solid #EB1700;
    background-color: #EB1700;
    color: #FFFFFF;
    border-radius: 20px;
    padding: 10px;
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
    font-size: 15px;
}
.table1 img{
    position: relative;
    top: -130px;
    width: 80vw;
    float: right;
}
.table2 img{
    width: 80vw;
    position: relative;
    top: -60px;
}

footer{
    display: flex;
    flex-direction: column;
    margin: 0;
    max-width: 1160px;
    background-color: rgb(25,25,25);
    padding: 0 20px;
    line-height: 15px;
    height: 100%;
}
.footer h4{
    margin: 10px;
    color: #fff;
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
}
.footer a{
    margin:5px 10px;
    padding: 32px 0;
    color:grey;
    list-style-type: none;
    text-decoration: none;
    position: relative;
    font-size: 16px;
    font-family:D-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.both{
    display: flex;
    text-align: center;
    column-gap: 10px;
    line-height: 15px;
    margin: 0px 10px 8px;
    padding: 18px 0;
    color: #c4c4c4;
}
.cities h4{
    font-size: 16px;

}
.cuisine h4{
    font-size: 16px;
    line-height: 20px;
    width: 50vw;
}
.both a{
    font-size: 14px;
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
    color: #c4c4c4;

}
.store{
    display: flex;
    flex-flow: column;
    padding: 32px 0 0;
    align-items: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 60px;
}
.store img{
    height: 48px;
    width: 144px;
    border: 1px solid #fff;
    background-color: rgb(88, 85, 85);
    border: none;
    border-radius: 5px;
    width: auto;
    opacity: 0.6;
}
.section{
    margin-bottom: 20px;
}
.section h4{
    display: flex;
    justify-content: center;
    column-gap: 10px;
    line-height: 10px;
    margin: 10px 10px 8px;
    color: #FFFFFF;
    font-size: 16px;
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 600;
}
.section a{
    text-align: center;
    font-size: 14px;
    color: #c4c4c4;
    padding: 30px 0px 0px;
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;

}
.social{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    column-gap: 10px;
}
.social img{
    width: 24px;
    height: 24px;
}
.bottom{
    margin: 35px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    column-gap: 21px;
    row-gap: 1.5px;
}
.bottom a{ 
    text-decoration: none;
    color: grey;
    font-size: 14px;
    text-align: center;
}
.bottomimg{
    width: 32px;
    height: 18px;
}
.bottomimg img{
    width: 100%;
}
.bottom span{
    color: #c4c4c4;
    font-size: 12px;
}

@media screen and (min-width:375px){
    .main{
        width: 100%;
    }
    .signin{
        font-size: 19px;
        font-weight: 600;
    }
    .signup{
        font-size:18px;
        font-weight: 600;
    }
    .doordash img{
        height: 38px;
        width: 62px;
        left: 180px;
        top: 60px;
    }
    .header-1{
        font-weight: 600;
        font-size: 35px;
        left: 15px;
        top: -325px;
    }
    .header-1{
        font-weight: 600;
        font-size: 34px;
        left: 15px;
        top: -330px;
    }
    div.search{
        top: -290px;
        left: 10px;
    }
    input::placeholder{
        font-size: 18px;
    }
    .merchant p{
        width: 180px;
        line-height: 22px;
        font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-weight: 600;
        color: #191919;
        font-size: 17px;
        /* left: 40px; */
    }
    .merchant a{
        /* margin-left: 80px; */
        left: 220px;
    }
    .merchant div{
        font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-weight: 600;
        color: #191919;
        font: 18px;
        /* left: 40px; */
        font-size: 16px;
    }
    #block{
        /* left: 30px; */
    }
    #block h2{
       font-size: 32px;
    }
    #block p{
       line-height: 25px;
       font-size: 19px;
       margin-bottom: 10px;
    }
    #block a{
       font-size: 16px;
       word-spacing: -0.04ch;
    }
    .dasher-content{
        margin-left: 25px;
     }
     .partner-content{
        margin-left: 25px;
     }
     .app-content{
        margin-left: 25px;
     }
     .table h2{
        margin-right: -10px;
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: 600;
     }
     .table p{
        font-size: 16px;
        padding: 10px;
     }
     .table2{
        padding-bottom: 50px;
     }
     .table1-content p{
        width: 72vw;
        font-size: 14px;
     }
     .table2-content h2{
        font-size: 24px;
     }
     .table2-content p{
        width: 70vw;
        font-size: 14px;
     }
}