body{
    margin: 0;
    padding: 0;
}
.main{
    padding: 14px 15px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 26pc;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(img/banner.webp);
}
.signin {
    width: 100%;
}
.social{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(25,25,25);
}
