*{
    box-sizing: border-box;
    padding: 0;
}
body{
    font: 0.8em Arial,Helvetica,sans-serif;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header span{
    padding: 20px;
}
header span:hover{
    color: red;
    cursor: pointer;
}
div ul{
    list-style-type: none;
    display:flex;
    column-gap: 20px;
    padding:30px;
    position: relative;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.form{
    border: 1px solid #fc0;
    
    border-radius: 8px;
    background-color: #fc0;
    display: flex;
    align-items: center;
    margin-left: 10px;
}
button{
    border: none;
    background-color: #fc0;
    border-radius: 15px;
    margin-left: 9px;
    margin-right: 9px;
    font-size: 123.1%;
}
input{
    width: 45vw;
    border-radius: 8px 0 0 8px;
    padding: 10px;
    border: none;
    margin-top: 1px;
    margin-bottom: 1px;
}
input:after{
    content: "";
    clear: both;
    border: none;
}
svg{
    background:none
}
 #search img{
    background: none;
 }
.search{
    display: flex;
    justify-content:center;
    align-items: flex-end;
    flex-direction: row;
    align-content: center;
    position: absolute;
    left: 45%;
    right: 45%;

    }

.form{
    align-items: center;
}

#main ul li:hover{
    cursor: pointer;
    color: red;
}
#main ul li:hover img{
    transform: translateY(-4px);
    cursor: pointer;
    color: red;
}
#main ul li span{
    display: flex;
    justify-content: center;
}
.footer{
    margin-top: -60px;

}
footer ul{
    text-align: center;
    bottom: 0;
}

.footer a{
    text-decoration: none;
    color: slategrey;
}
a:hover{
    color: red;
    cursor: pointer;
}
footer ul span:hover{

    color: red;
    position: fixed;
    transform: none;
    
}
footer ul a{
    text-decoration:none;
    color: #000;
    font-size: 15px;
}
footer ul p{
    margin-top: 10px;

}
footer{
    position: absolute;
    bottom: 0;
    left: 24vw;
    
}
#main{
    margin-top: 4%;
}
svg{
    width: 30px;
    height: 35px;
    margin-left: -35px;
    opacity: 0.5;
}
svg:hover{
    opacity: 1;
    cursor: pointer;
}

.search button:hover{
    background-color: #fc0;
    cursor: pointer;
}
.search img:hover{
    cursor: pointer;
}