@font-face {
    font-family: cereal;
    src: url(asset/font/Airbnb_Cereal-Book-9a1c9cca9bb3d65fefa2aa487617805e.woff2);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: cereal;
    src: url(asset/font/Airbnb_Cereal-Medium-50fc004b3082375f12ff0cfb67bf8e56.woff2);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: cereal;
    src: url(asset/font/Airbnb_Cereal-Bold-bdfb98485e7836ba31b456f65cded088.woff2);
    font-weight: 600;
    font-style: normal;
}
body{
    margin: 0;
    padding: 0;
    background-color: #fff;
    z-index: 4;
}
*{
    margin: 0;
    padding: 0;
    font-family: cereal;
}
*, *:before, *:after{
    box-sizing: border-box;
}
.header{
    padding: 14px 24px 0 24px;
}
.logo{
    display: none;
}
.searchbar{
    width: 85.5%;
    display: flex;
    background: #fff;
    border: 0.5px solid hsl(0deg 0% 0% / 8%);
    box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
    transform: translate3d(0,0,0);
    border-radius: 30px;
    padding: 0px 20px 5px 20px;
    position: fixed;
    z-index: 2;
    justify-content: space-between;
    margin-left: 0;
    min-width: 284px;
    height: 54px;
}
.header_1{
    display: flex;
}
.searchicon{
    padding-left: 10px;
}
.searchicon svg{
    position: relative;
    left: -10px;
    top: 20px;
}
.container{
    display: flex;
    flex-direction: column;
    min-width: 0;
    padding-left: 2px;
    margin-top: 7px;
    margin-left: 5px;
}
.container_1{
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #222;
}
.container_2{
    display: flex;
    font-size: 12px;
    color: #717171;
}
.container_2 div{
    display: flex;
}
.container_2 span{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-top: 1px;
    width: 50px;
}
.container_2 p{
    width: 12px;
    font-size: 12px;
    position: relative;
    top: -2px;
}
button{
    border: none;
    background-color: #fff;
}
button.menubar{
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 1000px;
    margin: 5px;
    padding: 9px;
    position: relative;
    top: 3px;
    left: 5px;
}
.main_header{
    display: none;
}
.header_2{
    display: none;
}
.left_arrow{
    display: none;
}
.scrollbar{
    display: flex;
    gap: 20px;
    overflow: scroll;
    overflow-y: hidden;
    padding: 10px 24px;
    position: fixed;
    background: #fff;
    top: 70px;
    z-index: 1;
}
.link{
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 4px;
    margin-left: 3px;
}
.scrollbar img{
    width: 24px;
    height: 24px;
    opacity: 0.8;
}
.scrollbar a{
    text-decoration: none;
    font-size: 12px;
    white-space: nowrap;
    line-height: 16px;
    color: #717171;
}
.scrollbar a:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #000;
    font-weight: 500;
}
.scroll_next{
    display: none;
}
.image_cards {
    font-family: cereal;
    margin: 2px 0;
    padding: 130px 17px 40px 17px;   
}
.images{
    position: relative;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 80vw;
}
.images img{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.images svg{
    position: absolute;
    top: 15px;
    right: 15px;
}
.card_details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    line-height: 5px;
    padding-top: 20px;
    padding-bottom: 26px;
    letter-spacing: 0.5px;
    font-size: 14px;
}
.details h4 {
    font-family: cereal;
    padding-bottom: 5px;
}
.details p {
    color: #717171;
    font-family:cereal;
    line-height: 20px;
}
.rate p {
    color: #222222;
    font-size: 15px;
    padding-top: 7px;
}
.rating{
    padding-top: 4px;
}
.map_1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 19px;
    background: #222222;
    height: 38px;
    width: 80px;
    position: fixed;
    z-index: 1;
    left: 38%;
    bottom:90px;
    transition:transform 0.2s;
}
.map_1:hover{
    transform: scale(1.1);
}
.map_1 p{
    color:#ffffff;
    font-size:13px;
}
.map_2{
    display: none;
}
.footer_1{
    display: flex;
    justify-content: center;
    width: 100%;
    gap:7%;
    position: fixed;
    background-color: #fff;
    bottom: 0;
    z-index: 1;
    border-top: 1px solid #d6d6d6;
}
.explore{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:11px ;
    font-size: 11px;
}
.wishlist{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 11px;
    font-size: 11px;
    color: #717171;
}
.footer_2{
    display: none;
}

@media screen and (min-width:375px){
    .container_2 div{
        width: 215px;
    } 
    .container_2 span{
        width: 57px;
    }
    span.guest{
        width: 63px;
    }
    .card_details{
        width: 100%;
    }
    .images{
        width: 20.4rem;
    }
}
@media screen and (min-width:425px){
    .conatiner_2 div{
        width: 265px;
    } 
    .image_cards {
        padding: 160px 17px 0 17px;
    }
    .images{
        width:23.5rem;
        height: 23rem;
    }
}
@media screen and (min-width:744px){
 .search{
    display: none;
 }
 .header{
    position: fixed;
    z-index: 2;
    height: 80px;
    border-bottom: 1px solid #d8d6d6;
    background: #fff;
    margin-top: -2px;
 }
 .header_2{
    display: flex;
    justify-content: space-between;
    padding-left:0px;
    margin-top: 1px;
}
.header_2_content{
    display: flex;
    gap: 25px;
    padding-left: 25px;
    width: 55%;
}
.logo{
    display: flex;
    margin-left: -5px;
    margin-top: 8px;
}
.logo_2{
    display: none;
}
.search_bar{
    display: flex;
    justify-content: center;
    background: #fff;
    border: 0.5px solid hsl(0deg 0% 0% / 8%);
    box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
    transform: translate3d(0,0,0);
    border-radius: 30px;
    height: 46px;
    width: 90%;
    gap: 10px;
    padding-left: 20px;
}
.search_bar a{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 20px;
    font-size: 14px;
    width: 90px;
    height: 18px;
    text-decoration: none;
    margin-top: 13px;
    margin-right: 10px;
    color: #222;
    border-right: 1px solid #ddd;
    font-weight: 500;
    padding-right: 10px;
}
.searchicon{
    display: flex;
}
.searchicon span img{
    border-radius: 100px;
    background-color: #ff385c;
    margin: 7px 10px 0px 0px;
    width: 32px;
    height: 32px;
    padding: 9px;
}
.searchicon a{
    color: #717171;
    font-weight: 400;
    width: 75px;
    height: 20px;
    border-right: none;
}
.profile{
    display: flex;
    align-items: center;
    column-gap: 15px;
}
.profile a{
    text-decoration: none;
    color: #222;
    font-weight: 600;
    white-space: nowrap;
    font-size: 14px;
}
.profile button{
    display: flex;
    width: 77px;
    height: 42px;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #ddd;
    padding: 5px 5px 5px 12px;
    column-gap: 12px;
}
.scrollbar{
    background-color: #fff;
    gap: 35px;
    padding: 30px 40px 0 40px;
    width: 77%;
    height: 100px;
    z-index: 1;
}
.link{
    gap: 10px;
}
.scroll_next{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 40px;
    gap: 20px;
    top: 115px;
    background: #fff;
}
.next svg{
    width: 12px;
    height: 12px;
}
.next button{
    border-radius: 50%;
    padding: 7px;
    background-color: #fff;
    border: 1px solid rgb(0 0 0 / 0.3);
}
.filter{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 16px;
    border: 1px solid #ddd;
    border-radius: 12px;
    background-color: #fff;
    gap: 8px;
    z-index: 2;
}
.filter span{
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: #222;
}
.map_1{
    display: none;
}
.map_2{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background: #222;
    border-radius: 21px;
    position: fixed;
    z-index: 2;
    left: 42%;
    bottom:106px;
    width: 127px;
    height: 47px;
    font-size: 15px;
    font-weight: 500;
    transition: transform .2s;
}
.map_2:hover{
    transform: scale(1.1);
}
.map_2 p{
    color: #fff;
}
.footer_1{
    display: none;
}
.footer_2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
    position: fixed;
    bottom: 0;
    z-index: 1;
    background: #fff;
    padding-left: 28px ;
    height:60px;
    border-top: 1px solid #d6d6d6;
    width: 95%;
}
.copyright{
    padding-top: 10px;
}
.copyright a{
    text-decoration: none;
    color:black;
    opacity: 0.8;
    font-size: 14px;
    padding:0 6px 0 5px;
}
.support{
    display: flex;
    justify-content:space-around;
    white-space: nowrap;
    padding-right: 29px;
    padding-top: 20px;
}
.support a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 600;
    opacity: .9;
}
}
@media screen and (min-width:768px){
    .search_bar_header{
        min-width: 380px;
    }
    .search_bar a{
        overflow: visible;
        padding-right: 0px;
    }
    .searchicon{
        width: 240px;
    }
    .searchicon span{
        margin-left: -30px;
    }
    .searchicon span img{
        margin-left: 40px;
    }
    .profile{
        margin-left: -15px;
        gap: 20px;
    }
    .card_details {
        width: 100%;
    }
    .images{
        height: 41.5vw;
        width: 43.2vw;
    }
    }
    @media screen and (min-width:950px){
        .search_bar_header{
           margin-left: 160px;
        }
    }
    @media screen and (min-width:1024px){
        .search_bar_header{
            margin-left: 250px;
         }
         .search_bar a{
            padding-left: 8px;
         }
         .searchicon span{
            padding-right: 8px;
         }
         .scrollbar{
            width: 82.5%;
         }
         .image_cards{
            display: grid;
            grid-template-columns:repeat(3,1fr);
            padding: 193px 39px;
        }
        .images{
            width:29.2vw;
            height: 27.9vw;
        }
        .cards{
            width:17rem;
        }
        .footer_2{
            display:flex;
            justify-content: space-between;
            width: 95%;
            height: 46px;
        }
        .copyright{
            padding-top: 17px;
            padding-left: 9px;
        }
        .support{
            padding-top: 18px;
            width:35%;
        }
        .map_2{
            font-size:14px;
            font-weight:600;
            left:44%;
            bottom:10%;
            width:125px;
        }
    }
    @media screen and (min-width:1128px){
        .logo_1{
            display: none;
        }
        .logo_2{
            display: flex;
        }
        .scrollbar{
            width: 84.5%;
         }
    }
    @media screen and (min-width:1360px){
        .search_bar{
            margin-left: 80px;
        }
        .profile{
            margin-left: 270px;
        }
        .scrollbar{
            width: 87.5%;
        }
    }
    @media screen and (min-width:1440px){
        .header_2{
            padding: 0 40px;
        }
        .header_2_content{
            gap: 150px;
        }
        .search_bar_header{
            position: relative;
            left: -32px;
        }
        .profile{
            position: relative;
            left: -210px;
        }
        .scrollbar{
            width: 87.5%;
        }
        .image_cards{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            padding: 0 40px 0 31px;
        }
    }