@font-face {
    font-family: cereal;
    src: url(asset/font/Airbnb_Cereal-Book-9a1c9cca9bb3d65fefa2aa487617805e.woff2);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: cereal;
    src: url(asset/font/Airbnb_Cereal-Medium-50fc004b3082375f12ff0cfb67bf8e56.woff2);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: cereal;
    src: url(asset/font/Airbnb_Cereal-Bold-bdfb98485e7836ba31b456f65cded088.woff2);
    font-weight: 600;
    font-style: normal;
}
body{
    margin: 0;
    padding: 0;
}
*{
    margin: 0;
    padding: 0;
    font-family: cereal;
}
*, *:before, *:after{
    box-sizing: border-box;
}
.header{
    padding: 14px 24px 0 24px;
}
.logo{
    display: none;
}
.searchbar{
    width: 100%;
    display: flex;
    background: #fff;
    border: 0.5px solid hsl(0deg 0% 0% / 8%);
    box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
    transform: translate3d(0,0,0);
    border-radius: 30px;
    margin: 0 50px;
    padding: 0px 20px 5px 20px;
    justify-content: space-between;
    margin-left: 0;
    min-width: 290px;
}
.searching{
    display: flex;
}
.searchicon{
    padding-left: 10px;
}
.searchicon svg{
    position: relative;
    left: -10px;
    top: 20px;
}
.container{
    display: flex;
    flex-direction: column;
    min-width: 0;
    padding-left: 2px;
    margin-top: 10px;
    margin-left: 0px;
}
.container_1{
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #222;
}
.conatiner_2{
    display: flex;
    font-size: 12px;
    color: #717171;
    overflow: hidden;
    white-space: nowrap;
}
.conatiner_2 div{
    display: flex;
}
.conatiner_2 p{
    text-overflow: ellipsis;
    overflow: hidden;
    width: 53px;
    white-space: nowrap;
    margin-right: 8px;
    padding-top: 1px;
}
button{
    border: none;
    background-color: #fff;
}
button.menubar{
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 100px;
    margin:10px ;
    padding: 8px;
}
@media screen and (min-width:375px){
    
    .searchbar{
        padding-bottom: 0;
    }.container{
        margin-left: 4px;
    }
    .conatiner_2{
        padding-right: 20px;
    }
    .conatiner_2 p{
        width: 56.13px;
        overflow: visible;
    }
    .menubar{
        position: relative;
        left: 5px;
    }
}
@media screen and (min-width:425px){
    .menubar{
        left: 20px;
    }
}
@media screen and (min-width:744px){
    .header{
        width: 744px;
        height: 80px;
    }
    .logo{
        display: flex;
        position: relative;
        top: 15px;
    }
    .searchicon,.container_1,.menubar{
        display: none;
    }
    .searchbar{
        width:400px;
        height: 48px;
        position: relative;
        left: 50px;
        top: -25px;
    }
    .conatiner_2 div{
        column-gap: 10px;
    }
    .conatiner_2 p{
        font-size: 14px;
        color: #222;
        font-weight: 500;
        border-right:1px solid #717171 ;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 65px;
    }
    .conatiner_2 p.guest{
        border: none;
        width: 70px;
        color: #717171;
        font-weight: 400;
    }

}