body{
    margin: 0;
    padding: 0;
}
.main{
    background-image: url(img/fg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
}
.banner{
    border: 1px solid #000;
    width: 50%;
    align-items: center;
    margin-left: 18pc;
    margin-top: 100px;
    padding: 30px;
    border: none;
}
ul{
    position: absolute;
    display: flex;
    list-style-type: none;
    text-align: center;
    font-weight: 600;
    top: 100px;
    left: 410px;
    column-gap: 20px;
}
li{
    float: right;
}
li a{
    text-decoration: none;
    text-align: center;
    color: white;
}
a:hover{
    cursor: pointer;
    color: red;
}
.header{
    text-align: center;
    font-size: 50px;
    font-weight: 999;
    margin-top: 0px;
    color: rgb(253, 250, 44);
    font-family: monospace;
}
.banner_head{
    font-size: 30px;
    font-family: fantasy;
    width: 30%;
    text-align: center;
    font-style: initial;
    position: relative;
    top: -50px;
    left: 10px;
    color: rgb(236, 229, 229);
}
.banner-info{
    display:flex;
    margin-left: 400px;
    margin-top: -70px;
    column-gap: 80px;
    width: 40%;
}
.student{
    width: 20%;
    border-radius: 15px;
}
.student span{
    color: rgb(248, 201, 11);
    font-size: 18px;
    font-weight: 800;
}
.marks{
    width: 25%;
    border-radius: 16px;
}
.marks form{
    position: relative;
    top: 30px;
    color: rgb(248, 201, 11);
    font-size: 17px;
    font-weight: 100;
}
.submit{
    position: relative;
    left: 80px;
    float:right;
}
form{
    text-align:left;
}
input{
    width: 100%;
}
.footer{
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    color: rgb(240, 230, 230);
    animation-name:foot ;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
}
@keyframes foot{
    from{opacity: 0;}
    to{opacity: 2;}
}
